<mat-card>
    <mat-action-list>
        <div mat-subheader>MENU</div>
        <button mat-list-item routerLink="/admin/">
            <mat-icon mat-list-icon>home</mat-icon>Home
        </button>
        <button mat-list-item routerLink="/admin/profile/">
            
            <mat-icon mat-list-icon>account_circle</mat-icon>Profile
        </button>

        <button mat-list-item routerLink="/admin/edit-profile/">
            
            <mat-icon mat-list-icon>account_box</mat-icon>EditProfile
        </button>

        <button mat-list-item routerLink="/admin/changepwd">
            
            <mat-icon mat-list-icon>account_box</mat-icon>Change Password
        </button>

    </mat-action-list>
</mat-card>